body{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit , minmax(400px , 1fr));
    position: fixed;
}
.image{
    width: 50vw;
    height: 100vh;
    position: relative;
    justify-self: center;
}
.image::before{
    content: "";
    background-color: rgba(53, 58, 162, 0.8);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
#di_img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
}
#info{
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1,h3{
    color: white;
    font-weight: 600;
    text-align: center;
}
h3{
    font-size: 1.4rem;
}
form{
    min-height: 100vh;
    height: fit-content;
    width: 50vw;
    top: 0;
    justify-self: center;
    overflow-y: auto;
    padding-bottom: 1rem;
}
.criteria{
    display: grid;
    grid-template-columns: repeat(auto-fit , 14rem);
    gap: 1rem;
    /* background-color: #FFBF00; */
    width: 100%;
    justify-content: center;
}
@media (max-width:800px) {
    form{
        width: 90vw;
    }
    .image{
        width: 90vw;
    }
    body{
        height: 200vh;
        background-color: rgba(1, 12, 59, 0.5);
    }
    .criteria{
        width: 90vw;
    }
    h1,h3{
        font-size: clamp(1.2rem , 5vw , 1.7rem);
    }
    
}
.criteria .box{
    width: 14rem;
    background-color: white;
    margin-top:1rem ;
}
.box tr th{
    background-color: #FFBF00;
    color: white;
}
.box tr td{
    padding-left: 1rem;
}

input[type="radio"]{
    size: 1px;
    
}
